<div th:fragment="table">

  <table class="table table-bordered table-hover bg-white">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Login</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Area</th>
      <th>Roles</th>
      <th width="160">Action</th>
    </tr>
    </thead>

    <tbody id="userTableBody">
    <!-- AJAX -->
    </tbody>
  </table>

  <!-- ===== PAGINATION ===== -->
  <div class="d-flex justify-content-between align-items-center mt-2">

    <div id="userPageInfo"
         class="text-muted small"></div>

    <div class="d-flex align-items-center gap-2">

      <label class="small mb-0">Page size</label>
      <select id="userPageSize"
              class="form-select form-select-sm"
              style="width:90px">
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>

      <!-- BUTTON PAGINATION -->
      <div id="userPagination"
           class="d-flex gap-1 flex-wrap">
      </div>

    </div>
  </div>

</div>
